<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
    <div class="row">
      <div class="col-md-6">
          <p>Hola Mundo!</p>
      </div>    
      <div class="col-md-6">
          <p>Hola Mundo!</p>
      </div>    
    </div>
  </div>    

  <div class="alert alert-info text-center" role="alert">
    <p>Alert</p>
  </div>
</div>


</body>
</html>
